
.button {
    -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#818181 50%, silver 100%),
            radial-gradient(center 50% -40%, radius 200%, #929292 45%, rgba(171, 171, 171, 0.62) 50%);

}

.button:pressed {
    -fx-background-radius: 30;
    -fx-background-color: silver;
}

.toggle-button{
    -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.toggle-button:selected {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#818181 50%, silver 100%),
            radial-gradient(center 50% -40%, radius 200%, #929292 45%, rgba(171, 171, 171, 0.62) 50%);
}
.toggle-button:selected:focused {

}

.text-field{
    -fx-graphic-text-gap: px ;
    -fx-font-style: italic;
}